 /* --------- Duc PA ---------- */
 .iconMenu {
    width:  15px;
}

/* Nav bar */
#navbar{
    display: flex;
    justify-content: start;
    background-color: #a8420a;
    height: 50px;
    align-items: center;
}
.nav-item > h2 {
    color: #fff;
    margin: 0 8px;
    line-height: 50px;
}
.nav-item:hover{
    cursor: pointer;
}

/* nav menu */
.nav-menu{
    position: relative;
}
.nav-menu:hover #nav-menu-content{
    display: block;
}
/* nav menu content */
#nav-menu-content{
    position: absolute;
    display: none;
    margin-top: 10px;
    top: calc(100% );
    left: 0;
    animation: fade 0.3s ease-in-out;
}
 .menu-wrap {
    position: relative;
    z-index: 10;
}


#nav-menu-content::after{
    content: "";
    position: absolute;
    border-width: 12px 20px;
    border-style: solid;
    border-color: transparent transparent #2e2e2f transparent;
    top: -22px;
    left: 20px;
}
.parent-menu {
    margin: 0;
    width: 220px;
    min-height: 500px;
    padding: 0;
    padding-left: 8px;
    height: max-content;
    position: relative;
    background-color: #272930;
}
.parent-menu, li:hover > a {
    cursor: pointer;
    color: rgb(255, 255, 255);
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    width: 100%;
    color: rgb(197, 197, 197);
}

.child-0{
    font-size: 20px;
    margin: 0;
    padding: 8px 4px;
}
.child-0:hover{
    border-right:1px solid #ccc;
}
.child-1-list{
    z-index: -1;
    display: none;
    height: 100%;
    min-width: 1000px;
    position: absolute;
    top: 0;
    left: 100%;
    padding-left: 8px;
    background-color: #272930;
}
.child-0:hover  .child-1-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    animation: slide 0.5s;
}
.child-0 > ul:not(.child-1-list){
    animation: collapse 0.5s;
}
.child-1-item {
    font-size: 18px;
    padding: 8px 0;
    width: max-content;
}

.child-2-list{
    padding: 0;
    padding-left: 8px;
}

.child-2-item {
    font-size: 16px;
    padding: 4px 0;
}
.child-3-list{
    padding: 0;
    padding-left: 6px;
}
.child-3-item {
    font-size: 14px;
    padding: 4px 0;
}


@keyframes slide {
    0% {
        left: 0%;
    }
    100%{
        left: 100%;
    }
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}