 /* --------- Duc PA ---------- */
#cssmenu {
    /* height: 400px; */
}
.iconMenu {
    width:  15px;
}
.parent-menu {
    width: 220px;
    min-height: 500px;
    padding: 0;
    padding-left: 8px;
    height: max-content;
    position: relative;
    background-color: #272930;
}
.parent-menu, li:hover > a {
    cursor: pointer;
    color: rgb(255, 255, 255);
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    width: 100%;
    color: rgb(197, 197, 197);
}

.child-0{
    font-size: 20px;
    margin: 0;
    padding: 8px 4px;
}
.child-0:hover {
    border-right:1px solid #fff;
}
.child-1-list{
    display: none;
    height: 100%;
    min-width: 1000px;
    position: absolute;
    top: 0;
    left: 100%;
    padding-left: 8px;
    background-color: #272930;
    animation: slide 1s, spin 1000ms;
}
.child-0:hover  .child-1-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* display: none; */
}

.child-1-item {
    font-size: 18px;
    padding: 8px 0;
    width: max-content;
}

.child-2-list{
    padding: 0;
    padding-left: 8px;
}

.child-2-item {
    font-size: 16px;
    padding: 4px 0;
}
.child-3-list{
    padding: 0;
    padding-left: 6px;
}
.child-3-item {
    font-size: 14px;
    padding: 4px 0;
}

.object--hide{
    display: none;
}


@keyframes slide {
    0% {
        left: 0%;
    }
    100%{
        left: 100%;
    }
}